/*主题名称：浅白色百搭主题*/
/*主题版本：2.0*/
/*本主题由web主题公园倾力打造，感谢您使用web主题公园的主题，更多主题请访问：http://www.themepark.com.cn*/
/*BUG提交，请进入web主题公园网站，在相关主题下留言即可，我们收到留言即将对bug进行评估并更新，感谢您的支持*/
.wrap,textarea,em{font-family:'Century Gothic','Microsoft YaHei',Verdana;}
.wrap{ width:676px; padding:10px; overflow:hidden;} #wpwrap{overflow:hidden;}
.wrap a,.wrap h1, .wrap p, .wrap b{ font-family:Arial, Helvetica, sans-serif,微软雅黑;} 
.bt{ color:#4cacd0; padding-left:13px; background: left no-repeat url("../images/xuanxiang/xuanxiang_083213.gif"); margin-bottom:5px;}
.tou{ width:676px; height:44px; float:left; overflow:hidden; background:url("../images/xuanxiang/xuanxiang_03.gif");}
.biaodan{ width:676px; height: auto; float:left; overflow:hidden;margin-top:20px;background:#f8f8f8; border: solid 1px #cccccc; }
.shuoming{width:620px; height:40px; float:left; overflow:hidden; padding-left:56px;background: left no-repeat url("../images/xuanxiang/xuanxiang_06.gif"); margin-top:10px;}
.shuoming a{ font-size:14px; float:left; padding-left:15px; line-height:16px; margin-left:20px;}
.shuoming b{ font-size:14px; float:left;}
.shuoming p{ float:left; margin:0; display:block; width:676px; height:21px;}
.banben{background: left no-repeat url("../images/xuanxiang/xuanxiang_08.gif");}
.jieshao{background: left no-repeat url("../images/xuanxiang/xuanxiang_10.gif");}
.bangzhu{background: left no-repeat url("../images/xuanxiang/xuanxiang_12.gif");}
.up{ width:639px; height:auto; float:left; padding:7px; text-align:left;}
.up em{ padding-left:10px; font-size:12px; color:#666;}
.up b{ width:100%; display:block; float:left;}
.yuyan{ float:left; margin:0;}
.yuyanb{ width:150px !important;}
.yulan{ width:273px; height:auto; min-height:100px; overflow:hidden; text-align:center; border:#ccc solid 1px; background:#FFF; margin:5px;}
.yulan2{width:639px; height:auto; ; overflow:hidden; text-align:center; border:#ccc solid 1px; background:#FFF; margin:5px; position:relative;}
.yulan2 img{ max-height:111px; width:auto;}
.yulan3{width:639px; height:201px;  overflow:hidden; text-align:center; border:#ccc solid 1px;  margin:5px; position:relative;}
.yulan img{ max-height:100px; max-width:273px;}
#xiaot p{ width:296px; display:block; overflow:hidden;}
#xiaot{width:302px; border:none; padding:0;}
.xiaot{ float:left; width:639px;  border-bottom:#999 dashed 1px; padding:10px 0 10px 7px;}
.xiaot1{ float:right; overflow:hidden; width:296px; padding-top:18px;}
.xiaot2{ float:left; overflow:hidden; width:637px;}
.xiaot1 p{ display:inline;}
.submit{ padding-right:30px; text-align:right; overflow:hidden; float:right;}
.up:hover,.xiaot:hover,.xigj:hover{ background:url("../images/xuanxiang/up.png");}
.xiaot up:hover{ background:none !important;}
#xiaot32{width:300px; border:none; }
.xiaot3{ float: left; overflow:hidden; width:296px; padding-top:18px;}
.beijing{ width:639px; height:auto;overflow:hidden; position: absolute; z-index:1; top:0; left:0;}
.cengji{ position:relative; z-index:10;width:375px; height:auto;}
#TB_window{ height:auto !important; width:678px !important;}
#TB_iframeContent{ width:675px !important;}


OL LI {MARGIN: 8px}
#con {FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH:676px}
#tags {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN:0; WIDTH:676px; PADDING-TOP: 0px; HEIGHT:50px; overflow:hidden;}
#tags LI {FLOAT: left; MARGIN-RIGHT: 1px; LIST-STYLE-TYPE: none; HEIGHT:33px; padding:18px;}
#tags LI A {FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #484848;  HEIGHT: 23px; TEXT-DECORATION: none; font-size:14px; padding-left:3px; }
#tags LI.emptyTag {BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px}
#tags LI.selectTag {POSITION: relative; HEIGHT:33px;background:url("../images/xuanxiang/inf_19.gif");padding:20px;}
#tags LI.selectTag A {BACKGROUND-POSITION: right top; COLOR: #fff; HEIGHT: 25px}
#tagContent {PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; border-top:solid 1px #585858;}
.tagContent {PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 655px; COLOR: #474747; PADDING-TOP: 10px; min-height:600px;}
#tagContent DIV.selectTag {DISPLAY: block}
.tb1{ width:18px; height:16px; float:left; background:left no-repeat url("../images/xuanxiang/xuanxiang_12.png"); }
#tags LI.selectTag .tb1{background:left no-repeat url("../images/xuanxiang/xuanxiang_13.png"); }

.tb2{ width:18px; height:16px; float:left; background:left no-repeat url("../images/xuanxiang/xuanxiang_22.png"); }
#tags LI.selectTag .tb2{background:left no-repeat url("../images/xuanxiang/xuanxiang_23.png"); }

.tb3{ width:36px; height:16px; float:left; background:left no-repeat url("../images/xuanxiang/xuanxiang_32.png"); }
#tags LI.selectTag .tb3{background:left no-repeat url("../images/xuanxiang/xuanxiang_33.png"); }

.tb4{ width:18px; height:16px; float:left; background:left no-repeat url("../images/xuanxiang/xuanxiang_42.png"); }
#tags LI.selectTag .tb4{background:left no-repeat url("../images/xuanxiang/xuanxiang_43.png"); }

.tb5{ width:18px; height:16px; float:left; background:left no-repeat url("../images/xuanxiang/xuanxiang_52.png"); }
#tags LI.selectTag .tb5{background:left no-repeat url("../images/xuanxiang/xuanxiang_53.png"); }

.xigj{ width:639px; height:auto; overflow:hidden; float:left;border-bottom:#999 dashed 1px;}
#lefts{ border:none; width:260px; float:none !important; padding-bottom:5px; overflow:hidden;}
.bb23{ width:639px; float:left;}

.tishi2{ width:100%; height:100%;overflow:hidden;top:0; left:0; position: absolute; background:url(../images/xuanxiang/tishi1.png); display:none; z-index:10;}
.tishi{ width:255px; height:12px; background: url(../images/xuanxiang/Success.gif) left no-repeat #9C0; color: #FFF; line-height:12px; padding:10px 10px 10px 132px; margin:0 0 10px 0 !important; float:left; top:300px; left:252px; z-index:10; display:none;position:fixed;}
.tishi3{ width:255px; height:12px; background: url(../images/xuanxiang/loading.gif) left no-repeat #30c5ef; color: #FFF; line-height:12px; padding:10px 10px 10px 132px; margin:0 0 10px 0 !important; float:left; position:fixed;top:300px; left:252px; z-index:1;}

#title_case {color: #FFFFFF;font-family: "Arial Black",Gadget,sans-serif; font-size: 42px;font-weight: bold;}
#title2_case {color: #FFFFFF;font-size: 24px;font-weight: bold;}
.yulan3 li a {color: #FFFFFF; font-family: "微软雅黑";  font-size: 14px;  margin-left: 32px !important; text-decoration: none;}
.yulan3 ul{ margin:0 auto;text-align:center;list-style-type:none; width:100%;}
.yulan3 li { display:inline;list-style-type:none;}
li ul ol{ list-style:none;}

.cc{ padding:10px;}
.all-cat{ width:650px; height:auto; overflow:hidden; margin:20px  auto;}
.all-cat a{ margin:0 10px 10px 0; cursor:pointer; overflow:hidden;}
#tuwenid{ width:650px; height:24px;}
#cat2 textarea { border:none; background:#acd761;}
.select{ background:#9C0;}
#tagContent4 img{ max-width:650px;}

.index_xs{ width:400px; height:1211px;background:no-repeat url("../images/xuanxiang/themepark-help.jpg"); }
.color_box{ width:60px; height:14px; padding:4px; text-align:center;}
.color_box p{ margin:0;}
.modle{ width:639px; height:auto; padding:20px 0; border:solid 1px #CCCCCC; text-align:center; float:left; overflow: hidden; margin-top:10px;}
.modle b{ font-size:18px; color:#999;}