body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; word-wrap:break-word }
body, html, input { font:12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; color:#444 }
table { border-collapse:collapse; border-spacing:0; }
img { border:none }
a:focus, *:focus {outline:none;}
h1, h2, h3, h4, h5, h6 { font-size:100%; }
input, label, img, th { vertical-align:middle; }
.font-fixh { font-family: Georgia, Arial; color: #f00; font-size: 16px; font-weight: 700; }
address, cite, dfn, em, var { font-style:normal; }
ul, ol, li { list-style:none; }
a { text-decoration:none; color:#444 }
a:hover { text-decoration:underline; }
.gray4, a.gray4 { color:#999 }
.red, .red a, a.red { color:red; }
.green { color:#0E774A }
select optgroup { color:#CAC8BB; }
input { outline: none; }
textarea { outline: none; }
.hidden { display:none; }
.invisible { visibility:hidden; }
.pad-10 { padding:10px; overflow:hidden }
.clear:after { content:'\20'; display:block; height:0; clear:both; }
.clear { _zoom:1; }
.fb { font-weight:bold }
.fn { font-weight:normal }
.bk, .bk3, .bk6, .bk8, .bk10, .bk15, .bk20, .bk30 { clear: both; font-size: 1px; height: 0; line-height: 1px }
.bk3 { height: 3px; }
.bk6 { height: 6px }
.bk8 { height: 8px }
.bk10 { height: 10px }
.bk15 { height: 15px }
.bk20 { height: 20px }
.bk30 { height: 30px }
.cu, .cu-li li, .cu-span span { cursor: hand; !important;
cursor: pointer }
.text-c { text-align: center }
.text-l { text-align: left }
.text-r { text-align: right }
.lf { float: left }
.rt { float: right }
.pr { position:relative }
.pa { position:absolute }
body fieldset { border:1px solid #D8D8D8; padding:10px; }
body fieldset legend { padding:3px 8px; }
.subnav { padding:10px }
.subnav h2 { margin-bottom:6px }
.col-tab ul.tabBut { height:27px; position:relative; bottom:-1px }
.col-tab ul.tabBut li { float:left; height:25px; line-height:26px; margin-right:5px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; border: 1px solid #d5dfe8; font-weight: normal; background: #F2F9FB; padding:0 8px; }
.col-tab ul.tabBut li { }
.col-tab ul.tabBut li.on { position:relative; background:#fff; border-bottom:0; height:26px; _height:27px; font-weight:700; }
.col-tab .content { border:1px solid #dce3ed; _zoom:1; }
.col-tab .contentList { border:1px solid #dce3ed; _zoom:1; }
.content-menu a { cursor:pointer; display:inline-block; zoom:1; *display:inline;color:#369; }
.content-menu a:hover { text-decoration: none }
.content-menu a em { display:inline-block; display:-moz-inline-stack; zoom:1; *display:inline;}
.content-menu a.add {background: url(bg.gif) no-repeat scroll 0 -481px transparent; height: 22px; line-height: 20px; cursor: pointer; font-weight: 700; padding-left: 24px;  color: #fff;vertical-align: middle;width:60px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.content-menu a.add{ line-height: 22px;}
  }
.content-menu a.on {height: 22px; line-height: 20px; padding: 0 4px; width:64px; color: #fff; background: url(bg.gif) no-repeat 0 -420px; text-align: center;vertical-align: middle;}
.content-menu a.on2 {height: 22px; line-height: 20px; padding: 0 10px;  color: #fff; background: url(bntbg.png) repeat-x; text-align: center;border-radius: 2px;margin-right: 4px; border-left: 1px #389407 solid;border-right: 1px #389407 solid;vertical-align: middle; }
.content-menu span { color:#ddd; padding:0 8px }
.pageleft { float:left }
.pageright { float:right }
.ico1 { background: url(file.gif) no-repeat; padding-left:20px; }
.ico2 { background: url(gear_disable.png) no-repeat; padding-left:20px; }
.ico3 { background: url(link.gif) no-repeat; padding-left:20px; }

.deletec {background: url(button.png) repeat-x;}
.input-text-c, .input-text, textarea, input.date { border:1px solid #D0D0D0; height:18px; margin:0 5px 0 0; padding:2px 0 2px 5px; border: 1px solid #d0d0d0; background: url("input.png") repeat-x scroll 0 0 #FFFFFF; font-family: Verdana, Geneva, sans-serif,  \5b8b\4f53; font-size:12px; }
input.date { background: #fff url(input_date.png) no-repeat right 3px; padding-right:18px; font-size:12px; }
textarea, textarea.input-text, textarea { font-size:12px; height:auto; padding:5px; margin:0; }
.input-text-c{padding:0px;}
.select { vertical-align: middle;padding: 1px;border: 1px solid #d0d0d0;cursor: default; }

.input-text-c { text-align:center }
.picList li { padding:0 0 8px }
.display { display:none }
.mr10 { margin-right: 10px; }
.lbg { font-weight:normal; background: url(bg_x.gif) repeat-x 0 -110px; }
.newscontent td { height:20px; background: url(link.gif) 10px 8px no-repeat;}
.newscontent td a{ padding-left: 22px; }
/* treeview */
.treeview { margin-left:6px; margin-top:6px; }
.treeview ul { margin-top: 4px; padding: 0; margin: 0; list-style: none; }
.treeview .hitarea { background: url(treeview-default.gif) -64px -25px no-repeat; height: 16px; width: 16px; margin-left: -16px; float: left; cursor: pointer; }
.treeview .placeholder { background: url(loading.gif) no-repeat scroll 0 0 transparent; display: block; height: 42px; width: 42px; }
/* fix for IE6 */
* html .hitarea { display: inline; float:none; }
.treeview li { margin: 0; padding: 3px 0pt 3px 16px; }
.treeview a.selected { background-color: #eee; }
#treecontrol { padding-left:4px;}
.treeview .hover ,.treeview a:hover { color: red; cursor: pointer; }
.treeview li { background: url(treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(toggle-collapse-dark.png) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(toggle-expand-dark.png) 0 0 no-repeat; }
.filetree span.file { background: url(file.gif) 0 0 no-repeat; }
.filetree * { white-space:nowrap; }
.filetree span.folder, .filetree span.file { display:auto; padding:1px 0 1px 16px; }
#treecontrol a,#treeform a,#form_tree a, #category_tree a { text-decoration: none; }
#treeform {margin-top:6px;padding-left: 4px;}
.m-table {background-color: #fff; border: 1px solid #d5dfe8; }
.s-table-title { border-bottom: 1px solid #ddd; color: #555; font-size: 14px; font-weight: bold; background-color: #f5f5f5 }
.s-table-thead { background: #f5f5f5 url(bg_x.gif) repeat-x 0 -110px; }
.m-table { table-layout: fixed; width: 100%; line-height: 1.0; }
.m-table th {height: 14px; padding: 5px 0px 6px 12px; font-weight: 400;border-bottom: 1px solid #d5dfe8; }
.m-table td { padding: 6px;
padding-left: 12px; padding-right: 0px; border-bottom: 1px solid #eee; }
.m-table2 td { padding-top: 10px;padding-bottom: 10px;}
.m-table tbody tr:hover { background: #f1f8ff; }
.m-table .cola { width: 80px; }
.m-table .colb { width: 100px; }
.m-table .colc { width: 150px; }
.m-table .cold { width: 200px; }
.m-table-title th { border-bottom: 1px solid #ddd; font-size: 14px; }
.m-table-row th, .m-table-row td { border-width: 0 0 1px; word-break : break-all; }
.m-table-tool { margin: 10px 0 0; padding-left: 10px; }
.m-table-tool .operating { float: left; padding-bottom: 10px; }
.m-table .u-edit { display: block; width: 100%; cursor: text; }
.content-menu .right { float:right; }
.content-menu .left { float:left; }
.xiaocms-page { font-family:\5b8b\4f53; text-align:right; margin-right: 10px;}
.xiaocms-page a { margin:0 2px; border:1px solid #ddd; padding:5px 9px; color:#666; line-height:26px; border-radius: 15px; }
.xiaocms-page a:hover { border:1px solid #f00; background:#f00; color:#fff;  text-decoration:none;}
.xiaocms-page span {border-radius: 15px;background-color:#e4f6fc;color:#5394aa;border:1px solid #bfdfea;margin: 0 2px;padding: 5px 9px;}
.table_form { font-size:12px }
.table_form td { padding-left:12px }
.table_form th { font-weight:normal; text-align:right; padding-right:10px; color:#777 }
.table_form td label { vertical-align:middle }
.table_form td, .table_form th { padding:8px 8px 8px 0px }
.table_form tbody td, .table_form tbody th { }
.onShow { background:url(question.gif) center left no-repeat; color:#959595;display:inline-block; display:-moz-inline-stack; zoom:1; *display:inline;
vertical-align:middle; line-height:18px; padding:0px 10px 2px 18px; }
.onError { background:url(del.gif) center left no-repeat; color=red; display:inline-block; display:-moz-inline-stack; zoom:1; *display:inline;
vertical-align:middle; line-height:18px; padding:0px 10px 2px 20px; }

.uploadify  { vertical-align: middle;position: relative; display:inline-block; _zoom:1;*display:inline;}
.uploadify-button  { vertical-align: middle;position: relative; display: inline-block;background: url(button.png) repeat-x;color: #333;text-align: center;cursor: pointer;margin-right: 5px;border-radius: 2px;border-top: 1px #a4a4a4 solid;border-bottom: 1px #929292 solid;border-left: 1px #9a9a9a solid;border-right: 1px #9a9a9a solid;font-family: \5b8b\4f53; }
.uploadify-button  { *display: inline; z-index: 0; }
.uploadify .swfupload { z-index: 1000 !important; }
.uploadify-button :hover { background: url(button-hover.png) repeat-x;border-top: 1px #7a7a7a solid;border-bottom: 1px #6d6d6d solid;border-left: 1px #747474 solid;border-right: 1px #747474 solid;}
.uploadify-button :active {background: url(button-active.png) repeat-x;border-top: 1px #929292 solid;border-bottom: 1px #a4a4a4 solid;border-left: 1px #9a9a9a solid;border-right: 1px #9a9a9a solid;}
.uploadify-button.disabled { background: #f7f7f7; border-color: #ccc; color: #333 }
.uploadify-queue { display: none; }

.button { background: url(button.png) repeat-x;color: #333;height: 24px;text-align: center;cursor: pointer;margin-right: 5px;border-radius: 2px;border-top: 1px #a4a4a4 solid;border-bottom: 1px #929292 solid;border-left: 1px #9a9a9a solid;border-right: 1px #9a9a9a solid;padding: 0px 8px;font-family: \5b8b\4f53;}
.button:hover { background: url(button-hover.png) repeat-x;border-top: 1px #7a7a7a solid;border-bottom: 1px #6d6d6d solid;border-left: 1px #747474 solid;border-right: 1px #747474 solid;}
.button:active {background: url(button-active.png) repeat-x;border-top: 1px #929292 solid;border-bottom: 1px #a4a4a4 solid;border-left: 1px #9a9a9a solid;border-right: 1px #9a9a9a solid;}
.browser {padding:10px;background:#f00;color:#fff;font-size:14px;}

.list-dot{width: 500px;overflow: hidden;}
.list-dot li,.list-dot-othors li{background: url(bg.gif) no-repeat -140px -832px;padding:5px 15px; border-bottom:1px dotted #c6dde0;  color:#bbb; position:relative;_height:22px}
.list-dot li span,.list-dot-othors li span{color:#0970A2}
.list-dot li a.close span,.list-dot-othors li a.close span{display:none}
.list-dot li a.close,.list-dot-othors li a.close{ background: url(del_ed.gif)  no-repeat left 0px; display:block; width:16px; height:16px;position: absolute;outline:none;right:5px; bottom:5px}
.list-dot li a.close:hover,.list-dot-othors li a.close:hover{ background: url(del.gif)  no-repeat left 0px;}
.list-dot-othors li{float:left;width:24%;overflow:hidden;}
